<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ email }}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, quas! Quasi repudiandae nulla animi. At
        repellendus sequi incidunt odio, reiciendis autem, qui consequatur modi, laborum officia aliquam nobis cumque
        quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel excepturi quod hic reprehenderit
        molestiae eius nihil ipsum nulla deserunt eaque eum nostrum corporis est tempore provident praesentium,
        repudiandae facere.</p>
</article>